In [1]:
import sqlite3
import pandas as pd
from IPython.display import display

In [2]:
import os
os.chdir('D:/yelp_project/')
print("Current Working Directory:", os.getcwd())

Current Working Directory: D:\yelp_project

In [ ]:
import pandas as pd
import json
from sqlalchemy import create_engine

# Create database engine pointing to the correct location
engine = create_engine('sqlite:///yelp.db')

# Load the business dataset
with open('yelp_academic_dataset_business.json', 'r', encoding='utf-8') as f:
    business_data = [json.loads(line) for line in f]
business_df = pd.DataFrame(business_data)

# Drop unnecessary columns
business_df.drop(['attributes', 'hours'], axis=1, inplace=True)

# Load into the database
business_df.to_sql('business', con=engine, if_exists='replace', index=False)

print("Business table created successfully!")

In [ ]:
# Check if the business table was created successfully
query = "SELECT * FROM business LIMIT 5;"
business_sample = pd.read_sql_query(query, engine)
business_sample

In [ ]:
# Load the checkin dataset
conn = sqlite3.connect('yelp.db')

with open('yelp_academic_dataset_checkin.json', 'r', encoding='utf-8') as f:
    checkin_data = [json.loads(line) for line in f]
checkin_df = pd.DataFrame(checkin_data)

# Load into the database
checkin_df.to_sql('checkin', con=conn, if_exists='replace', index=False)

print("Checkin table created successfully!")

conn.close()

In [ ]:
conn = sqlite3.connect('yelp.db')
query = "SELECT * FROM checkin LIMIT 5;"
checkin_sample = pd.read_sql_query(query, conn)
from IPython.display import display
display(checkin_sample)
conn.close()

In [ ]:
conn = sqlite3.connect('yelp.db')

# Load only the first 100000 reviews to avoid memory issues
review_data = []
with open('yelp_academic_dataset_review.json', 'r', encoding='utf-8') as f:
    for i, line in enumerate(f):
        if i >= 100000:  # limit to first 100000 rows
            break
        review_data.append(json.loads(line))

review_df = pd.DataFrame(review_data)

# Load into the database
review_df.to_sql('review', con=conn, if_exists='replace', index=False)

print("Review table created successfully with 100000 rows!")

conn.close()

In [ ]:
conn = sqlite3.connect('yelp.db')
query = "SELECT * FROM review LIMIT 5;"
review_sample = pd.read_sql_query(query, conn)
from IPython.display import display
display(review_sample)
conn.close()

In [ ]:
conn = sqlite3.connect('yelp.db')

# Load the entire tip dataset
with open('yelp_academic_dataset_tip.json', 'r', encoding='utf-8') as f:
    tip_data = [json.loads(line) for line in f]
tip_df = pd.DataFrame(tip_data)

# Load into the database
tip_df.to_sql('tip', con=conn, if_exists='replace', index=False)

print("Tip table created successfully!")

conn.close()

In [ ]:
conn = sqlite3.connect('yelp.db')
query = "SELECT * FROM tip LIMIT 5;"
tip_sample = pd.read_sql_query(query, conn)
from IPython.display import display
display(tip_sample)
conn.close()

In [ ]:
conn = sqlite3.connect('yelp.db')
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(query, conn)
display(tables)

# Now, let's also check if the 'user' table has rows
query_count = "SELECT COUNT(*) as count FROM user;"
try:
    count_df = pd.read_sql_query(query_count, conn)
    print("Number of rows in 'user' table:", count_df['count'][0])
except Exception as e:
    print("Error checking user table:", e)

conn.close()

In [3]:
import os

file_path = 'D:/yelp_project/yelp.db'

print("Does the file exist?", os.path.isfile(file_path))

if os.path.isfile(file_path):
    print("File size (MB):", round(os.path.getsize(file_path) / (1024 * 1024), 2))
else:
    print("File not found.")

Does the file exist? True
File size (MB): 3465.3

In [4]:
import sqlite3
import pandas as pd
from IPython.display import display

# Connect to the database
conn = sqlite3.connect('D:/yelp_project/yelp.db')

# List all tables to confirm they are accessible
query_tables = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(query_tables, conn)
print("Tables in database:")
display(tables)

# Check the number of rows in the 'user' table
query_count = "SELECT COUNT(*) as count FROM user;"
count_df = pd.read_sql_query(query_count, conn)
print("Number of rows in 'user' table:")
print(count_df['count'][0])

conn.close()

Tables in database:

       name
0  business
1   checkin
2    review
3       tip
4      user

Number of rows in 'user' table:
1987897